<!DOCTYPE html>
<html>
<title>Map & Info</title>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- // skyscraper start // -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 <!-- // skyscraper end // -->

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {background-image: url("/static/css/bldg03.jpg")}
.bgimg2 {background-image: url("/static/css/mountain05.jpg")}

tr.detail {
display: none;
width: 100%;
}
tr.detail div {
display: none;
}
.showmore:hover {
cursor: pointer;
}
.spacing{
    letter-spacing:7px;
}
.spacing1{
    letter-spacing:4px;
}
@font-face {
    font-family: 'Cafe24Simplehae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
</style>
</head>
<body>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-blue-gray w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="/#home" style="width:25%" class="w3-bar-item w3-button">Home</a>
    <a href="/mountains/" style="width:25%" class="w3-bar-item w3-button">MOUNTAINS</a>
    <a href="/buildings/" style="width:25%" class="w3-bar-item w3-button">SKYSCRAPERS</a>
    <a href="/#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black">MEMBER</a>
  </div>
</div>

<!-- skyscrapers information -->

<div class="w3-container w3-padding-64  w3-center" id="skyscraper">
  <div class="w3-content">
    <h1 class="w3-text-grey w3-xlarge spacing1">M O U N T A I N S</h1>
    <p class="w3-text-grey spacing1">100 Most Popular Mountains in Korea</p>
    <br>
  </div>


<!-- skyscraper list -->
  <div class="container">
  <div class="w3-container w3-white">
  <div class="w3-row-padding" style="margin:10 -16px" id="bldg_list">
  <br>
  {{ mountain_map|safe }}
        <!-- // skyscraper list start // -->
        <table class="table" id="table_bldg_list">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{d.0.id}}</td>
                    <td>{{d.0.name}}</td>
                    <td>{{d.0.title}}</td>
                    <td>{{d.0.height}}</td>
                    <td><button class="showmore w3-button w3-white w3-border w3-padding-small">more</button></td>
                </tr>
                <tr class="detail">
                    <td colspan='5'>
                        <div>
                            <table class='table table-striped'>
                                <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{d.0.id}}</td>
                                    </tr>
                                    <tr>
                                        <td>산 이름</td>
                                        <td>{{d.0.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>특징</td>
                                        <td>{{d.0.title}}</td>
                                    </tr>
                                    <tr>
                                        <td>위치</td>
                                        <td>{{d.0.site}}</td>
                                    </tr>
                                    <tr>
                                        <td>해발고도</td>
                                        <td>{{d.0.height}}</td>
                                    </tr>
                                    <tr>
                                        <td>지정이유</td>
                                        <td>{{d.0.feature}}</td>
                                    </tr>
                                    <tr>
                                        <td>개관</td>
                                        <td>{{d.0.overview}}</td>
                                    </tr>
                                    <tr>
                                        <td>정보</td>
                                        <td>{{d.0.information}}</td>
                                    </tr>
                                    <tr>
                                        <td>소요시간</td>
                                        <td>{{d.0.leadtime}}</td>
                                    </tr>
                                    <tr>
                                        <td>경도</td>
                                        <td>{{d.0.x_coord}}</td>
                                    </tr>
                                    <tr>
                                        <td>위도</td>
                                        <td>{{d.0.y_coord}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <div>
                    {% for link in d.0.link %}
                        <img class="detail" src={{link}}>
                    {% endfor %}
                </div>
                <div>
                    {{ d.0.map|safe }}
                </div>
            {% endfor %}
            </tbody>
        </table>
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if paging.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ paging.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in paging.paginator.page_range %}
                {% if page_number == paging.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if paging.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ paging.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
  </div>
  </div>
  </div>
        <!-- // skyscraper list end // -->
</div>
<!-- End MT photo -->

<script>

    // table sliding toggle
    $(function() {
        $('button.showmore').click(function(e) {
            e.preventDefault();
            // We break and store the result so we can use it to hide
            // the row after the slideToggle is closed
            var targetrow = $(this).closest('tr').next('.detail');
            targetrow.show().find('div').slideToggle('slow', function(){
            if (!$(this).is(':visible')) {
                targetrow.hide();
            }
            });
        });
    });

</script>
</body>
</html>
